{% include 'head.html' %} {% include 'nav.html' %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Custom</h1>
        <p class="lead">
            On this page you can add your own firewall rules.<br />
            Please check the rules for accuracy, as these are not tested by easywall.<br />
            <br />
            To add your own rule, simply copy the rule into the text box. One rule per line.<br />
            It is important to omit the iptables command.<br />
            Example: <code>-P FORWARD DROP</code>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

            {% if vars.custom %}
            <div class="alert alert-warning" role="alert">
                <strong>Unsaved!</strong> Differences between the current configuration and the active configuration
                found.
            </div>
            {% endif %}

            {% if vars.saved %}
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> The Configuration was saved successfully.
            </div>
            {% endif %}

            {% if vars.error %}
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> There was an error saving the configuration... Please review WebServer
                Logfile!
            </div>
            {% endif %}

            <form action="/custom-save" method="post">
                <div class="form-group">
                    <label for="customarea">Add custom rules here</label>
                    <textarea class="form-control" id="customarea" name="rules" rows="5">{% for row in vars.rules %}{{ row }}
{% endfor %}</textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-md"
                    style="margin-left:50%; transform: translateX(-50%)">Save</button>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}