{% include 'head.html' %} {% include 'nav.html' %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Port Forwarding</h1>
        <p class="lead">This page allows you to forward ports from the local system to ports on the Internet.<br />
            This is especially useful if the port of an application cannot be changed.<br />
            Enter the port type, source and destination.<br />
            You do not have to release the public port separately, easywall will do that for you.
        </p>
    </div>
</div>

<div class="container pt-0 mb-3">
    <div class="row mb-3">
        <div class="col pb-3">

            {% if vars.custom %}
            <div class="alert alert-warning" role="alert">
                <strong>Unsaved!</strong> Differences between the current configuration and the active configuration
                found.
            </div>
            {% endif %}

            {% if vars.saved %}
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> The Configuration was saved successfully.
            </div>
            {% endif %}

            {% if vars.error %}
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> There was an error saving the configuration... Please review WebServer
                Logfile!
            </div>
            {% endif %}

            {% if vars.forwardings|length == 0 %}
            <ul class="list-group">
                <li class="list-group-item justify-content-between">
                    No ports are forwarded.
                </li>
            </ul>
            {% endif %}

            <form action="/forwarding-save" method="post">
                <input type="hidden" name="remove" value="">
                <ul class="list-group">
                    {% for forwarding in vars.forwardings %}
                    <li class="list-group-item justify-content-between">
                        {{ forwarding }}
                        <button type="submit" name="{{ forwarding }}"
                            class="btn btn-danger btn-sm float-right">Remove</button>
                    </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
        <div class="col">
            <div class="card w-100">
                <div class="card-header">
                    Select the ports to be forwarded from the local system to the Internet
                </div>
                <div class="card-body">
                    <form action="/forwarding-save" method="post">
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" aria-describedby="tcpudpHelp" type="radio"
                                        name="tcpudp" id="tcpudp1" value="tcp" checked="checked"> TCP
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" aria-describedby="tcpudpHelp" type="radio"
                                        name="tcpudp" id="tcpudp2" value="udp"> UDP
                                </label>
                            </div>
                            <small id="tcpudpHelp" class="form-text text-muted">Select whether it is a TCP or UDP
                                port.</small>
                        </div>
                        <div class="form-group">
                            <label for="source-port">Port Number</label>
                            <input type="text" class="form-control" id="source-port" name="source-port"
                                aria-describedby="source-port-help">
                            <small id="source-port-help" class="form-text text-muted">
                                Select the internal /source port number.
                                You can only select one port and not a range of ports.<br />
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="destination-port">Port Number</label>
                            <input type="text" class="form-control" id="destination-port" name="destination-port"
                                aria-describedby="destination-port-help">
                            <small id="destination-port-help" class="form-text text-muted">
                                Select the destination port number.
                                You can only select one port and not a range of ports.<br />
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary"
                            style="margin-left: 50%; transform: translateX(-50%)">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}