<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar"
        aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
        <i class="fa fa-shield" aria-hidden="true"></i>&nbsp;easywall
    </a>

    <div class="collapse navbar-collapse" id="topNavBar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if vars.title == 'Home' %} active {% endif %}">
                <a class="nav-link btn" href="/">Home</a>
            </li>
            <li class="nav-item {% if vars.title == 'Options' %} active {% endif %}">
                <a class="nav-link btn" href="/options">Options</a>
            </li>
            <li class="nav-item {% if vars.title == 'Blacklist' %} active {% endif %}">
                <a class="nav-link btn" href="/blacklist">Blacklist</a>
            </li>
            <li class="nav-item {% if vars.title == 'Whitelist' %} active {% endif %}">
                <a class="nav-link btn" href="/whitelist">Whitelist</a>
            </li>
            <li class="nav-item {% if vars.title == 'Forwarding' %} active {% endif %}">
                <a class="nav-link btn" href="/forwarding">Forwarding</a>
            </li>
            <li class="nav-item {% if vars.title == 'Ports' %} active {% endif %}">
                <a class="nav-link btn" href="/ports">Ports</a>
            </li>
            <li class="nav-item {% if vars.title == 'Custom' %} active {% endif %}">
                <a class="nav-link btn" href="/custom">Custom</a>
            </li>
            <li class="nav-item {% if vars.title == 'Apply' %} active {% endif %}">
                <a class="nav-link btn" href="/apply">Apply</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-right my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link btn" title="Configuration Mismatch!" href="#" data-toggle="modal"
                    data-target="#configModal">
                    {% if vars.config_mismatch %}
                    <span class="badge badge-pill badge-danger">!</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" title="Need help?" href="#" data-toggle="modal" data-target="#helpModal">
                    <i class="fa fa-support" aria-hidden="true"></i>&nbsp;
                    <span class="d-none d-sm-inline">Help</span>
                    <span class="d-lg-none">Need help?</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" title="Version and Update" href="#" data-toggle="modal"
                    data-target="#versionModal">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>&nbsp;
                    <span class="d-none d-sm-inline">Update</span>
                    <span class="d-lg-none">Version and Update</span>
                    {% if vars.current_version != vars.latest_version %}
                    <span class="badge badge-pill badge-warning">!</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" title="Host Information" href="#" data-toggle="modal" data-target="#hostModal">
                    <i class="fa fa-server" aria-hidden="true"></i>&nbsp;
                    <span class="d-none d-sm-inline">Host</span>
                    <span class="d-lg-none">Host Information</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" title="easywall on GitHub" href="https://jpylypiw.github.io/easywall/"
                    target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>&nbsp;
                    <span class="d-none d-sm-inline"></span>
                    <span class="d-lg-none">easywall on GitHub</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" title="Sign Out of easywall" href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;
                    <span class="d-none d-sm-inline"></span>
                    <span class="d-lg-none">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
</nav>