{% include 'head.html' %} {% include 'nav.html' %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Options</h1>
        <p class="lead">On this page you can configure the easywall core.<br>
            We offer a variety of configuration options.<br />
        </p>
        <p>
            Please note that the easywall core must be restarted after every configuration change.<br />
            You can perform a reboot with the following command:<br />
        </p>
        <p>
            <code>systemctl restart easywall</code>
        </p>
    </div>
</div>

<div class="container pt-0 mb-3">
    <div class="row">
        <div class="col">

            {% if vars.saved %}
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> The Configuration was saved successfully.
            </div>
            {% endif %}

            {% if vars.error %}
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> There was an error saving the configuration... Please review WebServer
                Logfile!
            </div>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#ipv6" role="tab">IPv6</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#acceptance" role="tab">Acceptance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#logpane" role="tab">Logging</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#binaries" role="tab">Binaries</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="ipv6" role="tabpanel">
                            <form action="/options-save" method="post">

                                <input type="hidden" value="IPV6" name="section">

                                <div class="form-group checkbox">
                                    <label class="form-check-label" for="IPV6">
                                        <input type="hidden" value="off" name="checkbox_enabled">
                                        <input type="checkbox" id="IPV6" name="enabled"
                                            {% if vars.config.get_value("IPV6", "enabled") == true %} checked
                                            {% endif %} aria-describedby="IPV6Help">
                                        Enable IPv6
                                    </label>
                                    <small id="IPV6Help" class="form-text text-muted">Please only activate the function
                                        if <strong>IPv6</strong> is <strong>configured and activated</strong> on the
                                        server. If you disable the feature, easywall will disable IPv6 entirely on the
                                        server for security reasons.</small>
                                </div>

                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>

                        <div class="tab-pane" id="acceptance" role="tabpanel">
                            <form action="/options-save" method="post">

                                <input type="hidden" value="ACCEPTANCE" name="section">

                                <div class="form-group checkbox">
                                    <label class="form-check-label" for="enabled">
                                        <input type="hidden" value="off" name="checkbox_enabled">
                                        <input type="checkbox" id="enabled" name="enabled"
                                            {% if vars.config.get_value("ACCEPTANCE", "enabled") == true %} checked
                                            {% endif %} aria-describedby="enabledHelp">
                                        Enable Acceptance
                                    </label>
                                    <small id="enabledHelp" class="form-text text-muted">
                                        Enable this feature to activate a timer which automatically resets the firewall
                                        to the last state when the firewall state is not accepted. This is highly
                                        recommended and enabled by default!
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="duration">Acceptance Duration</label>
                                    <input type="text" class="form-control" id="duration" name="duration"
                                        aria-describedby="durationHelp" placeholder="Example: 120"
                                        {% if vars.config.get_value("ACCEPTANCE", "duration") != "" %}
                                        value={{vars.config.get_value("ACCEPTANCE", "duration")}} {% endif %}>
                                    <small id="durationHelp" class="form-text text-muted">
                                        This option sets the duration until the firewall rules are restored from a
                                        backup. The default value is 120 and we recommend a number higher than this.
                                    </small>
                                </div>

                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>

                        <div class="tab-pane" id="logpane" role="tabpanel">
                            <form action="/options-save" method="post">

                                <input type="hidden" value="LOG" name="section">

                                <div class="form-group">
                                    <label for="loglevel">Log Level</label>

                                    <select class="custom-select" id="loglevel" name="level">
                                        <option
                                            {% if vars.config.get_value("LOG", "level").lower() == "debug" %}selected{% endif %}>
                                            debug</option>
                                        <option
                                            {% if vars.config.get_value("LOG", "level").lower() == "info" %}selected{% endif %}>
                                            info</option>
                                        <option
                                            {% if vars.config.get_value("LOG", "level").lower() == "warning" %}selected{% endif %}>
                                            warning</option>
                                        <option
                                            {% if vars.config.get_value("LOG", "level").lower() == "error" %}selected{% endif %}>
                                            error</option>
                                        <option
                                            {% if vars.config.get_value("LOG", "level").lower() == "critical" %}selected{% endif %}>
                                            critical</option>
                                    </select>
                                    <small id="loglevelHelp" class="form-text text-muted">
                                        Please specify the log directory. We recommend using the local
                                        <code>../log/</code> directory. The use of the global <code>/log</code>
                                        directory is also possible.
                                    </small>
                                </div>

                                <div class="form-group checkbox">
                                    <label class="form-check-label" for="to_files">
                                        <input type="hidden" value="off" name="checkbox_to_files">
                                        <input type="checkbox" id="to_files" name="to_files"
                                            {% if vars.config.get_value("LOG", "to_files") == true %} checked
                                            {% endif %} aria-describedby="to_files_help">
                                        Write log to Logfile
                                    </label>
                                    <small id="to_files_help" class="form-text text-muted">
                                        If activated the config parameters filepath and filename will be read and the
                                        log will be written to the logfile.
                                    </small>
                                </div>

                                <div class="form-group checkbox">
                                    <label class="form-check-label" for="to_stdout">
                                        <input type="hidden" value="off" name="checkbox_to_stdout">
                                        <input type="checkbox" id="to_stdout" name="to_stdout"
                                            {% if vars.config.get_value("LOG", "to_stdout") == true %} checked
                                            {% endif %} aria-describedby="to_stdout_help">
                                        Write log to Stdout
                                    </label>
                                    <small id="to_stdout_help" class="form-text text-muted">
                                        When this is activated the log will be written to stdout. This is recommended!
                                        When the log is written to stdout it is mostly written to syslog.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="log_filepath">Log filepath</label>
                                    <input type="text" class="form-control" id="log_filepath" name="filepath"
                                        aria-describedby="log_filepath_help" placeholder="Example: /var/log/easywall"
                                        {% if vars.config.get_value("LOG", "filepath") != "" %}
                                        value={{vars.config.get_value("LOG", "filepath")}} {% endif %}>
                                    <small id="log_filepath_help" class="form-text text-muted">
                                        Please specify the log directory. You can use a relative or absolute path to the
                                        directory. Logfiles on Linux are normally stored in <code>/var/log</code>
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="log_filename">Log filename</label>
                                    <input type="text" class="form-control" id="log_filename" name="filename"
                                        aria-describedby="log_filename_help" placeholder="Example: easywall.log"
                                        {% if vars.config.get_value("LOG", "filename") != "" %}
                                        value={{vars.config.get_value("LOG", "filename")}} {% endif %}>
                                    <small id="log_filename_help" class="form-text text-muted">
                                        This option sets the logfile name. The logfile should have a normal file
                                        extension like <code>.log</code> or <code>.txt</code>
                                    </small>
                                </div>

                                <div class="form-group checkbox">
                                    <label class="form-check-label" for="log_blocked_connections">
                                        <input type="hidden" value="off" name="checkbox_log_blocked_connections">
                                        <input type="checkbox" id="log_blocked_connections"
                                            name="log_blocked_connections"
                                            {% if vars.config.get_value("LOG", "log_blocked_connections") == true %}
                                            checked {% endif %} aria-describedby="log_blocked_connections_help">
                                        Log all blocked connections to syslog
                                    </label>
                                    <small id="log_blocked_connections_help" class="form-text text-muted">
                                        If the configuration is enabled, all blocked incoming connections are logged in
                                        the syslog. Please make sure that the syslog is rotated regularly to avoid large
                                        logfiles.
                                    </small>
                                </div>

                                <div class="form-group checkbox">
                                    <label class="form-check-label" for="log_blacklist_connections">
                                        <input type="hidden" value="off" name="checkbox_log_blacklist_connections">
                                        <input type="checkbox" id="log_blacklist_connections"
                                            name="log_blacklist_connections"
                                            {% if vars.config.get_value("LOG", "log_blacklist_connections") == true %}
                                            checked {% endif %} aria-describedby="log_blacklist_connections_help">
                                        Log all blocked connections from blocked IP addresses
                                    </label>
                                    <small id="log_blacklist_connections_help" class="form-text text-muted">
                                        To check if IP addresses on the blacklist are still trying to connect to your
                                        system, you can enable this checkbox. All incoming connections from blocked IP
                                        addresses are then logged in the syslog.
                                    </small>
                                </div>

                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>

                        <div class="tab-pane" id="binaries" role="tabpanel">
                            <form action="/options-save" method="post">

                                <input type="hidden" value="EXEC" name="section">

                                <div class="form-group">
                                    <label for="iptablesbin">IPTables Binary</label>
                                    <input type="text" class="form-control" id="iptablesbin" name="iptables"
                                        aria-describedby="iptablesbinHelp" placeholder="Example: /sbin/iptables"
                                        {% if vars.config.get_value("EXEC", "iptables") != "" %}
                                        value={{vars.config.get_value("EXEC", "iptables")}} {% endif %}>
                                    <small id="iptablesbinHelp" class="form-text text-muted">
                                        Please enter the full path to the IPTables Binary.<br />You can read out the
                                        path in the command line with the command <code>whereis iptables</code>.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="iptablessavebin">IPTables-Save Binary</label>
                                    <input type="text" class="form-control" id="iptablessavebin" name="iptables-save"
                                        aria-describedby="iptablessavebinHelp"
                                        placeholder="Example: /sbin/iptables-save"
                                        {% if vars.config.get_value("EXEC", "iptables-save") != "" %}
                                        value={{vars.config.get_value("EXEC", "iptables-save")}} {% endif %}>
                                    <small id="iptablessavebinHelp" class="form-text text-muted">
                                        Please enter the full path to the IPTables-Save Binary.<br />This is needed for
                                        saving the current iptables rules. You can read out the path in the command line
                                        with the command <code>whereis iptables-save</code>.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="iptablesrestorebin">IPTables-Restore Binary</label>
                                    <input type="text" class="form-control" id="iptablesrestorebin"
                                        name="iptables-restore" aria-describedby="iptablesrestorebinHelp"
                                        placeholder="Example: /sbin//sbin/iptables-restore"
                                        {% if vars.config.get_value("EXEC", "iptables-restore") != "" %}
                                        value={{vars.config.get_value("EXEC", "iptables-restore")}} {% endif %}>
                                    <small id="iptablesrestorebinHelp" class="form-text text-muted">
                                        Please enter the full path to the IPTables-Restore Binary.<br />This is needed
                                        for
                                        saving the current iptables rules. You can read out the path in the command line
                                        with the command <code>whereis iptables-restore</code>.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="ip6tablesbin">IP6Tables Binary</label>
                                    <input type="text" class="form-control" id="ip6tablesbin" name="ip6tables"
                                        aria-describedby="ip6tablesbinHelp" placeholder="Example: /sbin/ip6tables"
                                        {% if vars.config.get_value("EXEC", "ip6tables") != "" %}
                                        value={{vars.config.get_value("EXEC", "ip6tables")}} {% endif %}>
                                    <small id="ip6tablesbinHelp" class="form-text text-muted">
                                        Please enter the full path to the IP6Tables Binary.<br />You can read out the
                                        path in the command line with the command <code>whereis ip6tables</code>.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="ip6tablessavebin">IP6Tables-Save Binary</label>
                                    <input type="text" class="form-control" id="ip6tablessavebin" name="ip6tables-save"
                                        aria-describedby="ip6tablessavebinHelp"
                                        placeholder="Example: /sbin/ip6tables-save"
                                        {% if vars.config.get_value("EXEC", "ip6tables-save") != "" %}
                                        value={{vars.config.get_value("EXEC", "ip6tables-save")}} {% endif %}>
                                    <small id="ip6tablessavebinHelp" class="form-text text-muted">
                                        Please enter the full path to the IP6Tables-Save Binary.<br />This is needed for
                                        saving the current ip6tables rules. You can read out the path in the command
                                        line
                                        with the command <code>whereis ip6tables-save</code>.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="ip6tablesrestorebin">IP6Tables-Restore Binary</label>
                                    <input type="text" class="form-control" id="ip6tablesrestorebin"
                                        name="ip6tables-restore" aria-describedby="ip6tablesrestorebinHelp"
                                        placeholder="Example: /sbin//sbin/ip6tables-restore"
                                        {% if vars.config.get_value("EXEC", "ip6tables-restore") != "" %}
                                        value={{vars.config.get_value("EXEC", "ip6tables-restore")}} {% endif %}>
                                    <small id="ip6tablesrestorebinHelp" class="form-text text-muted">
                                        Please enter the full path to the IP6Tables-Restore Binary.<br />This is needed
                                        for
                                        saving the current ip6tables rules. You can read out the path in the command
                                        line
                                        with the command <code>whereis ip6tables-restore</code>.
                                    </small>
                                </div>

                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}