{% include 'head.html' %} {% include 'nav.html' %} {% include 'jumbotron.html' %}

<div class="container pt-0 mb-3">
    <div class="row mb-3">
        <div class="col">

            {% if vars.custom %}
            <div class="alert alert-warning" role="alert">
                <strong>Unsaved!</strong> Differences between the current configuration and the active configuration
                found.
            </div>
            {% endif %}

            {% if vars.saved %}
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> The Configuration was saved successfully.
            </div>
            {% endif %}

            {% if vars.error %}
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> There was an error saving the configuration... Please review WebServer
                Logfile!
            </div>
            {% endif %}

            <div class="card w-100">
                <div class="card-header">
                    Open port in firewall for incoming connections
                </div>
                <div class="card-body">
                    <form action="/ports-save" method="post">
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" aria-describedby="tcpudpHelp" type="radio"
                                        name="tcpudp" id="tcpudp1" value="tcp" checked="checked"> TCP
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" aria-describedby="tcpudpHelp" type="radio"
                                        name="tcpudp" id="tcpudp2" value="udp"> UDP
                                </label>
                            </div>
                            <small id="tcpudpHelp" class="form-text text-muted">Choose between a TCP or UDP port
                                here.</small>
                        </div>
                        <div class="form-group">
                            <label for="port">Port Number</label>
                            <input type="text" class="form-control" id="port" name="port" aria-describedby="portHelp">
                            <small id="portHelp" class="form-text text-muted">
                                Please enter the numeric Port you want to open on this server.
                                You can enter a single port or a port range.<br />
                                <strong>Example:</strong>
                                Single Port: <code>22</code>
                                Port Range: <code>25017:25020</code>.
                            </small>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" id="ssh" name="ssh" aria-describedby="sshHelp"
                                    class="form-check-input">
                                SSH
                            </label>
                            <small id="sshHelp" class="form-text text-muted">
                                Check the checkbox if the port is the SSH port.<br />
                                If you have activated SSH Brute Force Prevention, this port is specially monitored.
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary"
                            style="margin-left: 50%; transform: translateX(-50%)">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-md">

            {% if vars.tcp|length == 0 %}
            <ul class="list-group">
                <li class="list-group-item justify-content-between">
                    No opened TCP Ports found.
                </li>
            </ul>
            {% endif %}

            <form action="/ports-save" method="post">
                <input type="hidden" name="remove" value="tcp">
                <ul class="list-group">
                    {% for port in vars.tcp %}
                    <li class="list-group-item d-flex justify-content-between">
                        {% if ';' in port %}
                        {% set templist = port.split(';') %}
                        <span class="badge badge-secondary badge-pill align-self-center">tcp -
                            {{ templist[1] }}</span>';
                        {{ templist[0] }}
                        {% else %}
                        <span class="badge badge-secondary badge-pill align-self-center">tcp</span>
                        <span class="text-center">{{ port }}</span>
                        {% endif %}
                        <button type="submit" name="{{ port }}"
                            class="btn btn-danger btn-sm float-right">Remove</button>
                    </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
        <div class="col-md">

            {% if vars.udp|length == 0 %}
            <ul class="list-group">
                <li class="list-group-item justify-content-between">
                    No opened UDP Ports found.
                </li>
            </ul>
            {% endif %}

            <form action="/ports-save" method="post">
                <input type="hidden" name="remove" value="udp">
                <ul class="list-group">
                    {% for port in vars.udp %}
                    <li class="list-group-item d-flex justify-content-between">
                        {% if ';' in port %}
                        {% set templist = port.split(';') %}
                        <span class="badge badge-secondary badge-pill align-self-center">udp -
                            {{ templist[1] }}</span>';
                        {{ templist[0] }}
                        {% else %}
                        <span class="badge badge-secondary badge-pill align-self-center">udp</span>
                        <span class="text-center">{{ port }}</span>
                        {% endif %}
                        <button type="submit" name="{{ port }}"
                            class="btn btn-danger btn-sm float-right">Remove</button>
                    </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}