{% include 'head.html' %} {% include 'nav.html' %} {% include 'jumbotron.html' %}

<div class="container pt-0 mb-3">
    <div class="row">
        <div class="col pb-3">

            {% if vars.custom %}
            <div class="alert alert-warning" role="alert">
                <strong>Unsaved!</strong> Differences between the current configuration and the active configuration
                found.
            </div>
            {% endif %}

            {% if vars.saved %}
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> The Configuration was saved successfully.
            </div>
            {% endif %}

            {% if vars.error %}
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> There was an error saving the configuration... Please review WebServer
                Logfile!
            </div>
            {% endif %}

            {% if vars.addresses|length == 0 %}
            <ul class="list-group">
                <li class="list-group-item justify-content-between">
                    No Whitelisted IP-Adresses found.
                </li>
            </ul>
            {% endif %}

            <form action="/whitelist-save" method="post">
                <ul class="list-group">
                    {% for address in vars.addresses %}
                    <li class="list-group-item justify-content-between">
                        {{ address }}
                        <button type="submit" name="{{ address }}"
                            class="btn btn-danger btn-sm float-right">Remove</button>
                    </li>
                    {% endfor %}
                </ul>
            </form>
        </div>

        <div class="col">
            <div class="card w-100">
                <div class="card-header">
                    Add new IP address to the whitelist
                </div>
                <div class="card-body">
                    <form action="/whitelist-save" method="post">
                        <div class="form-group">
                            <label for="ipadr">IP address</label>
                            <input type="text" class="form-control" id="ipadr" name="ipadr"
                                aria-describedby="ipadrHelp">
                            <small id="ipadrHelp" class="form-text text-muted">
                                Please select the IP address you wish to add to the list.<br />
                                Please enter only IP addresses and no hostnames.<br />
                                <br />
                                <strong>Examples:</strong><br />
                                IPV4: 134.164.12.5<br />
                                IPV6: 240e:00d9:d800:0200::::d4
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary"
                            style="margin-left: 50%; transform: translateX(-50%)">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}