{% include 'head.html' %} {% include 'nav.html' %}

<div class="cover-container">
    <div class="inner cover">
        <h1 class="cover-heading">easywall for iptables</h1>
        <p class="lead">
            easywall is a software for easy operation of
            <span class="badge badge-secondary" style="text-shadow: none;">firewalls</span>.<br />
            The software was developed in the modern programming language
            <span class="badge badge-secondary" style="text-shadow: none;">python3</span>.<br />
            We are constantly working on
            <span class="badge badge-secondary" style="text-shadow: none;">improving</span> the software.<br />
            Currently easywall is still in the
            <span class="badge badge-warning" style="text-shadow: none;">beta</span> version.<br />
            If you like the software, we would be glad about
            <a href="https://github.com/sponsors/jpylypiw" target="_blank" class="badge badge-secondary"
                style="text-shadow: none;">financial support</a></span>.<br />
            If you have found a bug, you can report it to us in a
            <a href="https://github.com/jpylypiw/easywall/issues" target="_blank" class="badge badge-secondary"
                style="text-shadow: none;">GitHub issue</a> or in
            <a href="https://discord.gg/CUj2sFb" target="_blank" class="badge badge-secondary"
                style="text-shadow: none;">Discord</a>.
        </p>
    </div>
</div>

{% include 'footer.html' %}