<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Sign in to your personal EasyWall Firewall Control Panel">
    <meta name="author" content="JPylypiw">

    <link rel="icon" href="/static/img/favicon.png">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/{{vars.customcss}}.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <title>{{ vars.title }} · EasyWall</title>
</head>

<body>