{% include 'head.html' %} {% include 'nav.html' %}

<div class="cover-container">
    <div class="inner cover">
        <h1 class="cover-heading">EasyWall for IPtables.</h1>
        <p class="lead">EasyWall is a tool for configuring firewalls. Currently, we are supporting the Linux IPTables firewall. EasyWall has been created using the programming language Python Version 3. Please note that EasyWall is currently still in alpha state.</p>
        <p class="lead">
            <a href="/ports" class="btn btn-lg btn-secondary" role="button">Configure Ports</a>
        </p>
    </div>
</div>

{% include 'footer.html' %}