{% include 'head.html' %} {% include 'nav.html' %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Whitelist</h1>
        <p class="lead">On this page you can add IP-addresses that are allowed to connect to this server.<br>
            Use this carefully because there is no validation of IP-adresses..<br>
            You can add IPv4 and IPv6 adresses here.</p>
    </div>
</div>

<div class="container pt-0 mb-3">
    <div class="row">
        <div class="col pb-3">

            {% if vars.custom %}
            <div class="alert alert-warning" role="alert">
                <strong>Unsaved!</strong> Differences between the current configuration and the active configuration
                found.
            </div>
            {% endif %}

            {% if vars.saved %}
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> The Configuration was saved successfully.
            </div>
            {% endif %}

            {% if vars.error %}
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> There was an error saving the configuration... Please review WebServer
                Logfile!
            </div>
            {% endif %}

            {% if vars.addresses|length == 0 %}
            <ul class="list-group">
                <li class="list-group-item justify-content-between">
                    No Whitelisted IP-Adresses found.
                </li>
            </ul>
            {% endif %}

            <form action="/whitelist-save" method="post">
                <ul class="list-group">
                    {% for address in vars.addresses %}
                    <li class="list-group-item justify-content-between">
                        {{ address }}
                        <button type="submit" name="{{ address }}"
                            class="btn btn-danger btn-sm float-right">Remove</button>
                    </li>
                    {% endfor %}
                </ul>
            </form>
        </div>

        <div class="col">
            <div class="card w-100">
                <div class="card-header">
                    Whitelist IP-Address
                </div>
                <div class="card-body">
                    <form action="/whitelist-save" method="post">
                        <div class="form-group">
                            <label for="ipadr">IP-Address</label>
                            <input type="text" class="form-control" id="ipadr" name="ipadr"
                                aria-describedby="ipadrHelp">
                            <small id="ipadrHelp" class="form-text text-muted">
                                Please enter the IP-Adress to whitelist.
                                If you enter an IPv6-Address it <strong>has to be expanded</strong>.
                                Please do not add hostnames here.<br><br>
                                <strong>Examples:</strong><br>
                                IPV4: 192.168.178.44<br>
                                IPV6: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary"
                            style="margin-left: 50%; transform: translateX(-50%)">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}