html,body { height:100%; }

.cover-container {
	position: absolute;
	display: block;
	height: auto;
	width: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 54px;
	background-color: #333;
	margin-right: auto;
	margin-left: auto;
	color: #fff;
	text-align: center;
	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
	box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}

@media (max-width: 575px) {
	.inner {
		width: 90%;
	}
}

@media (min-width: 576px) {
	.inner {
		width: 75%;
	}
}

@media (min-width: 768px) { 
	.inner {
		width: 65%;
	}
}

@media (min-width: 992px) {
	.inner {
		width: 60%;
	}
}

@media (min-width: 1200px) {
	.inner {
		width: 55%;
	}
}

.inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cover .btn-secondary {
	font-weight: bold;
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff;
	border: .05rem solid #fff;
}

.container {
    padding-top: 5rem;
}
