Source: easywall
Section: python
Priority: extra
Maintainer: Jochen Pylypiw <12394156+jpylypiw@users.noreply.github.com>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 0.7)
Standards-Version: 3.9.5

Package: easywall
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3-minimal, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: Web interface for easy use of the IPTables firewall on Linux systems written in Python3
 Web interface for easy use of the IPTables firewall on Linux systems written in Python3