Package: easywall
Version: 0.2.2
Maintainer: Jochen Pylypiw <12394156+jpylypiw@users.noreply.github.com>
Description: Web interface for easy use of the IPTables firewall on Linux systems written in Python3
Homepage: https://github.com/jpylypiw/easywall
Architecture: all
Depends: python3 (>=3.6), python3-pip, uwsgi, uwsgi-plugin-python3, wget, unzip, openssl
Source: easywall
Section: admin
Priority: optional
Standards-Version: 3.9.5
