Source: easywall
Maintainer: Jochen Pylypiw <12394156+jpylypiw@users.noreply.github.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 11), wget, ca-certificates
Standards-Version: 3.9.5

Package: easywall
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Web interface for easy use of the IPTables firewall on Linux systems written in Python3
