Source: easywall
Maintainer: Jochen Pylypiw <12394156+jpylypiw@users.noreply.github.com>
Build-Depends: debhelper (>= 11), tar
Section: admin
Priority: optional
Standards-Version: 3.9.5
Package: easywall
Architecture: all
Version: 0.2.0
Description: Web interface for easy use of the IPTables firewall on Linux systems written in Python3
