[LOG]
; possible values: debug, info, warning, error, critical
level = info
to_files = yes
filepath = /var/log/easywall
filename = easywall
; rotateeverybytes = 10485760
; keepfiles = 7
; permissions = 0600

[EXEC]
iptables = /sbin/iptables
ip6tables = /sbin/ip6tables
iptables-save = /sbin/iptables-save
ip6tables-save = /sbin/ip6tables-save
iptables-restore = /sbin/iptables-restore
ip6tables-restore = /sbin/ip6tables-restore

[ACCEPTANCE]
enabled = yes
; time in seconds
time = 10
filename = .accepted

[IPV6]
enabled = yes

[BACKUP]
filepath = ./backup
ipv4filename = iptables_v4_backup
ipv6filename = iptables_v6_backup

[RULES]
filepath = ./rules
; files have to end with .txt
blacklist = blacklist.txt
whitelist = whitelist.txt
tcp = tcp.txt
udp = udp.txt
