[EXEC]
iptables = /sbin/iptables
ip6tables = /sbin/ip6tables
iptables-save = /sbin/iptables-save
ip6tables-save = /sbin/ip6tables-save
iptables-restore = /sbin/iptables-restore
ip6tables-restore = /sbin/ip6tables-restore

[LOG]
; possible values: debug, info, warning, error, critical
level = info 
to_files = yes
filepath = /var/log/easywall
filename = easywall
; rotateeverybytes = 10485760
; keepfiles = 7
; permissions = 0600

[BACKUP]
filepath = ./backup
ipv4filename = iptables_v4_backup
ipv6filename = iptables_v6_backup

[ACCEPTANCE]
; time in seconds
time = 3
filename = .accepted

[IPV6]
enabled = yes
IPV6FORWARDING = no

[SECURITY]
SSHBrute = yes
ICMPFlood = yes
InvalidDrop = yes
PortScan = yes
ICMP = yes
Broadcast = yes
Multicast = yes
Anycast = yes
DropAuth = yes

[RULES]
Blacklist = ../rules/blacklist.txt
Whitelist = ../rules/whitelist.txt
TCP = ../rules/tcp.txt
UDP = ../rules/udp.txt