name: shellcheck

on: ["push", "pull_request"]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the Repository
        uses: actions/checkout@v2

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@0.3.0
